<header class="site-header">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      {%- if site.title-logo -%}
        <img src="{{ site.title-logo | relative_url }}" alt="{{ site.title | escape }}" />
      {%- else -%}
        {{ site.title | escape }}
      {%- endif -%}
    </a>

    <nav class="site-nav">
      <ul class="nav-list">
        <li><a href="{{ site.baseurl }}/about">About Me</a></li>

        <li class="dropdown">
          <a href="#">Posts</a>
          <ul class="dropdown-content">
            {% for category in site.categories %}
              <li><a href="{{ site.baseurl }}/categories/{{ category[0] | slugify }}/">{{ category[0] | capitalize }}</a></li>
            {% endfor %}
          </ul>
        </li>

        <li><a href="{{ site.baseurl }}/publication">Publication</a></li>
        <li><a href="{{ site.baseurl }}/research">Research</a></li>
        <li><a href="{{ site.baseurl }}/resume">Resume</a></li>
        <li><a href="{{ site.baseurl }}/teaching">Teaching</a></li>
      </ul>
    </nav>
  </div>
</header>
